body {
  background-color: rgb(250, 250,250);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

.titre{
    color: #DE9D24 ;
    }
.card {
 margin-top: 200px;
    width: 600px;
    height: 600px;
  }
  .conseil{
    padding-right: 30px;
  }
 

}
